// icons (4 different sets are coming soon)
@font-face
  font-family: freedomplayer
  src: url("icons/freedomplayer.eot?#iefix") format("embedded-opentype"), url("icons/freedomplayer.woff2") format("woff2"), url("icons/freedomplayer.woff") format("woff")

.fp-icon
  display: inline-block

  &:before, &:after
    font-family: freedomplayer
    font-size: 1.7em

.fp-airplay:before
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='whitesmoke' viewBox='0 0 512 512' xmlns:xlink='http://www.w3.org/1999/xlink'><path d='M116.364 477.091h279.272L256 337.455z'/><path d='M465.455 34.909H46.545C20.945 34.909 0 55.855 0 81.455v279.273c0 25.6 20.945 46.545 46.545 46.545h93.091v-46.545H46.545V81.455h418.909v279.273h-93.091v46.545h93.091c25.6 0 46.545-20.945 46.545-46.545V81.455c.001-25.6-20.944-46.546-46.544-46.546z'/></svg>")
  content: ""
  display: block
  height: 18px
  width: 18px

.fp-fullscreen
  order: 100

// TODO: Remove transforms
.fp-fullscreen:before
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-2 -2 40 30' fill='none' stroke-width='4' stroke='whitesmoke' xmlns:xlink='http://www.w3.org/1999/xlink'><path d='M1 9V1h12' /><path d='M1 9V1h12' transform='matrix(1 0 0 -1 0 26)' /><path d='M1 9V1h12' transform='matrix(-1 0 0 1 36 0)' /><path d='M1 9V1h12' transform='rotate(180 18 13)' /></svg>")
  background-repeat: no-repeat
  content: ""
  display: block
  height: 17px
  width: 22px

.fp-checked:before
  content: "\e003"

.fp-embed:before
  content: "\e004"
  color: #fff

.fp-controls a.fp-chromecast
  margin: 0 0.5em

// TODO: Make it much smaller
.fp-chromecast:before
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="125 40 625 500"><path fill="whitesmoke" d="M644 486h37V98H181v83h-55V43h610v498H487v-55h157zm-224-24c6 22 9 44 10 66v13h-54c-1-69-25-128-74-176-48-48-107-73-176-73v-55l29 1a300 300 0 0 1 171 74 304 304 0 0 1 94 150zm-294-79v-34c87-4 192 69 194 192h-55a139 139 0 0 0-139-138v-20zm49 91c22 17 33 39 34 67h-83v-82c18 0 34 5 49 15z"/></svg>');
  background-repeat: no-repeat
  content: ""
  display: block
  height: 16px
  width: 20px

.fp-email:before
  content: "\e006"

.fp-playbtn:before
  /* autoprefixer: off */
  content: "\e007"
  display: flex
  line-height: 0

.fp-volumebtn:before
  content: "\e00b"

.fp-volume-off:before
  content: "\e00d"

.fp-unload:before
  content: "\e00f"

.fp-prevbtn:before
  content: "\e011"

.fp-nextbtn:before
  content: "\e012"
