// icons (4 different sets are coming soon)
@font-face
  font-family: freedomplayer
  src: url("icons/freedomplayer.eot?#iefix") format("embedded-opentype"), url("icons/freedomplayer.woff2") format("woff2"), url("icons/freedomplayer.woff") format("woff")

.fp-icon
  display: inline-block

  &:before, &:after
    font-family: freedomplayer
    font-size: 1.7em

.fp-airplay svg
  fill: whitesmoke
  height: 18px
  margin-top: 4px
  width: 18px

.fp-fullscreen
  order: 100
  svg
    height: 18px
    margin-top: 4px
    stroke: whitesmoke
    stroke-width: 4
    width: 22px
    &.fp-fullscreen-exit
      display: none
      margin-top: 0
      stroke-width: 3

.fp-checked:before
  content: "\e003"

.fp-embed:before
  content: "\e004"
  color: #fff

.fp-controls a.fp-chromecast
  margin: 0 0.5em

.fp-chromecast svg
  height: 16px
  margin-top: 4px
  stroke: whitesmoke
  width: 20px

.fp-email:before
  content: "\e006"

.fp-playbtn:before
  /* autoprefixer: off */
  content: "\e007"
  display: flex
  line-height: 0

.fp-volumebtn:before
  content: "\e00b"

.fp-volume-off:before
  content: "\e00d"

.fp-unload:before
  content: "\e00f"

.fp-prevbtn:before
  content: "\e011"

.fp-nextbtn:before
  content: "\e012"
