$features: (
  'portrait': 'orientation: portrait',
  'landscape': 'orientation: landscape',
  'tiny': 'max-width: 400px',
  'small': '(min-width: 401px) and (max-width: 600px)',
  'non-retina': 'max-device-pixel-ratio: 1',
  'retina': 'min-device-pixel-ratio: 1.5'
);

@mixin screen($names...) {
  $query: null;

  @each $name in $names {
    @if map-has-key($features, $name) {
      $breakpoint: map-get($features, $name);
      $query: if($query, $query + ' and ' + $breakpoint, $breakpoint);
    } @else {
      @warn "Missing `#{$name}` in $features map.";
    }
  }

  @if $query {
    @media screen and (#{$query}) {
      @content;
    }
  }
}
