.freedomplayer
  &.is-mouseover, &.is-paused
    .fp-captions
      bottom: 3em
  &.is-poster, &.is-loading
    .fp-engine
      opacity: 0
  &.is-loading
    .fp-ui
      .fp-header, .fp-controls
        opacity: 0
  &.is-splash, &.is-poster
    .fp-ui > *
      display: none
    .fp-ui > .fp-play
      display: block
    &.is-loading
      .fp-ui > .fp-play
        display: none
      .fp-ui > .fp-waiting
        display: block
  &.is-poster
    .fp-captions
      display: none !important
  &.is-disabled
    .fp-color
      background-color: #999
  &.has-title
    .fp-header
      top: 0
      text-align: right
  &.is-fullscreen
    .fp-player
      background-color: #333
    .fp-fullscreen:before
      background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-1 -2 40 30' fill='none' stroke-width='3' stroke='whitesmoke' xmlns:xlink='http://www.w3.org/1999/xlink'><path d='M1 9V1h12' transform='translate(22 17)' /><path d='M1 9V1h12' transform='matrix(-1 0 0 1 13 17)' /><path d='M1 9V1h12' transform='rotate(180 6.5 4.5)' /><path d='M1 9V1h12' transform='matrix(1 0 0 -1 22 9)' /></svg>");
    top: 0 !important
    left: 0 !important
    border: 0 !important
    margin: 0 !important
    width: 100% !important
    height: 100% !important
    max-width: 100% !important
    z-index: 9999999 !important
    box-shadow: 0 !important
    background-image: none !important
    background-color: #333
    border-radius: 0

  &.is-fullscreen.is-mouseout.is-playing
    .fp-ui
      cursor: none
  &.is-loading, &.is-seeking
    .fp-waiting
      display: block !important
      opacity: 1 !important
    .fp-play, .fp-pause
      display: none !important
  &.is-disabled
    .fp-play, .fp-pause, .fp-fullscreen
      display: none
  &.is-playing
    background-image: none !important
    .fp-playbtn
      &:before
        content: "\e008"
  &.is-playing.fp-outlined
    .fp-playbtn:before
      content: "\e208"
  &.is-playing.fp-edgy
    .fp-playbtn:before
      content: "\e108"
  &.is-playing.fp-edgy.fp-outlined
    .fp-playbtn:before
      content: "\e308"
  &.is-muted
    .fp-volumebtn:before
      content: "\e00d"
  &.is-muted.fp-outlined
    .fp-volumebtn:before
      content: "\e20d"
  &.is-muted.fp-edgy
    .fp-volumebtn:before
      content: "\e10d"
  &.is-muted.fp-edgy.fp-outlined
    .fp-volumebtn:before
      content: "\e30d"
  &.is-inverted
    .fp-duration
      display: none
    .fp-remaining
      display: block
  &.is-closeable
    .fp-header
      .fp-unload
        display: block
  &.is-error
    background-color: #aaa
    .fp-ui
      opacity: 1
  &.is-live
    .fp-timeline
      visibility: hidden
    .fp-bar > *.fp-buffer
      max-width: 100%
    &.is-dvr
      .fp-timeline
        visibility: visible
      &.is-live-position
        .fp-duration
          color: #00abcd
  &.is-mouseout:not(.is-splash):not(.is-seeking):not(.fixed-controls):not(.is-mobile-seeking)
    .fp-timeline
      pointer-events: none
  &.is-tiny:not(.is-fullscreen)
    font-size: .7em
  &.is-small:not(.is-fullscreen)
    font-size: .8em
  &.is-captions-rtl
    .fp-captions
      direction: rtl
